body
{	background-color: #669900; color: #000000; 
	margin-top: 5%; margin-bottom: 5%; margin-left: 5%; margin-right: 5%; 
}

h1
{ border-width: 5px; border-color: #CCCC99; border-style: solid; 
	background-color: #6699FF;  color: #FFFFFF; 
	font-family: sans-serif; text-align: center; 
	padding-top: 2%; padding-bottom: 2%;
	margin-bottom: 0%; 
}

h3 
{ background-color: #FFFFFF; color: #000000;
	font-family: sans-serif; 
	padding-left: 2%; padding-right: 2%; padding-top: 1%; padding-bottom: 0%; 
	margin-top: 0%;  margin-bottom: 0%; 
}

p
{	background-color: #FFFFFF; color: #000000;
	font-family: sans-serif; line-height: 20px; font-size: 90%; 
	padding-left: 2%; padding-right: 4%; padding-top: 1%; padding-bottom: 1%;  
	margin-top: 0%;  margin-bottom: 0%; 
}

table
{	border-color: #CCCC99; border-style: solid;  border-left-width: 5px;
	border-right-width: 5px; border-top-width: 0px; border-bottom-width: 0px;
	background-color: #FFFFFF; color: #000000;
	padding-left: 2%; padding-right: 2%; padding-top: 2%; padding-bottom: 1%;
	margin-top: 0%;  margin-bottom: 0%;
}

.plain
{	background-color: #FFFFFF; color: #000000;
	font-family: sans-serif; line-height: 20px; font-size: 90%; 
	padding-left: 2%; padding-right: 4%; padding-top: 1%; padding-bottom: 1%;  
	margin-top: 0%;  margin-bottom: 0%; 
}

.left
{ width: 20%;
	font-family: sans-serif; line-height: 20px; font-size: 80%; 
	background-color: #FFFFFF; color: #000000;
	padding-left: 10px; padding-top: 10px;
}

.right
{ width: 80%;
	background-color: #FFFFFF; color: #000000;
}

li
{	background-color: #FFFFFF; color: #000000;
	font-family: sans-serif; font-size: 15px;  line-height: 20px;
	padding-bottom: 2%;
}

dl 

{	border-width: 5px; border-color: #CCCC99; border-style: solid;  border-left-width: 5px;
	border-right-width: 5px; border-top-width: 0px; border-bottom-width: 0px;
	background-color: #FFFFFF; color: #000000;
	font-family: sans-serif; font-size: 15px;  line-height: 20px;
	padding-left: 2%; padding-right: 2%; padding-top: 2%; padding-bottom: 0%;  
	margin-top: 0%; margin-left: 0%; margin-bottom: 0%;
}

dt
{	font-weight: bold; line-height: 20px;
}

address
{	color: #FFFFFF;	background-color: #669900;
	font-family: sans-serif; font-size: 13px; text-align: right; font-style: normal;
}

a:hover 
{	color: #FF6600; background-color: #FFFFFF;
	text-decoration:none;
} 

.navigation	
{	background-color: #FFFFFF; color: #3366CC;
	text-decoration:none;	
} 

a.mail:hover
{ background-color: #669900; color: #FFFFFF; 
	font-family: sans-serif; font-size: 13px; text-decoration: none;
} 

p.citat
{ border-color: #CCCC99; border-style: solid;  border-left-width: 5px;
	border-right-width: 5px; border-top-width: 0px; border-bottom-width: 5px;
	background-color: #FFFFFF; color: #000000;
	font-family: sans-serif;  font-size: 80%; line-height: 20px; font-style: italic;
	padding-left: 10%; padding-right: 10%; padding-top: 2%; padding-bottom: 2%;  
	margin-top: 0%;  margin-bottom: 0%; 
} 

p.rollespilscitat
{	background-color: #FFFFFF; color: #660000;
	font-family: sans-serif;  line-height: 20px; 
	margin-top: 0%;  margin-bottom: 0%; 
}
	
p.bund
{	border-width: 5px; border-style: solid; border-color: #CCCC99; 
	background-color: #FFFFFF; color: #000000; 
	font-family: sans-serif; font-size: 13px; font-style: italic;
	padding-left: 2%; padding-right: 2%; padding-bottom: 2%; padding-top: 2%; 
	margin-top: 0%; border-top: none;
}

