<header class="site-header">

  <div class="blog-header">
    <h1 class="blog-title"><a href="{{ site.baseurl }}/" class="fanciness">{{ site.title }}</a></h1>
    <h2 class="blog-description fanciness">{{ site.description }}</h2>
  </div>

  <div class="page-links">
    <a href="{{ site.baseurl }}/sektion/i-det-hele-taget">I det hele taget</a>
    <a href="{{ site.baseurl }}/sektion/indernettet">Indernettet</a>
    <a href="{{ site.baseurl }}/sektion/kaevl">Kævl</a>
    <a href="{{ site.baseurl }}/sektion/livet">Livet</a>
    <a href="{{ site.baseurl }}/sektion/musik">Musik</a>
    <a href="{{ site.baseurl }}/sektion/norderi">Nørderi</a>
  </div>
</header>
