@import 'bourbon/bourbon';

$grey-color: #828282;
$light-grey: #b3b3b1;

amp-img {
  background-color: grey;
}

.cf {
  @include clearfix;
}

$rs: 16px;

$font-serif: Georgia, Cambria, "Times New Roman", Times, 'Lora', serif;
$font-sans: "Helvetica Neue", 'Open Sans', Arial, Helvetica, sans-serif;

@mixin respond-to($breakpoint) {
  @media only screen and (max-width: $breakpoint + px) {
    @content;
  }
}

main {
  display: block;
}

body {
  background-color: #fff;
  font-family: $font-sans;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

.site-header {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 16px auto 0 auto;
  @include box-sizing(border-box);
  @include respond-to(800) {
    padding: 0 $rs * 1;
  }
}

.page-links {
  text-align: center;
  font-weight: 200;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;

  a {
    text-decoration: none;
    color: #999999;
    &:hover {
      color: #333333;
    }
    &::after {
      content: " | ";
    }
    &:last-child::after {
      content: "";
    }
  }
}

.blog-header {
  text-align: right;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  @include box-sizing(border-box);
}

@keyframes Gradient {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

.fanciness {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(124deg, #ff6698, #ffb366, #ffff66, #98ff66, #6698ff, #7E15EE);
  background-size: 400% 400%;
  animation: Gradient 10s infinite;
}
.fanciness-hover:hover {
  @extend .fanciness;
}

.blog-title {
  margin-bottom: 10px;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: -2px;
  outline: 0;
  line-height: 50px;
  a {
    color: #333333;
    text-decoration: none;
  }
}

.blog-description {
  font-size: 28px;
  margin: 0 0 20px;
  padding: 0;
  line-height: 1.2;
  color: #666666;
  font-weight: 300;
}

.content {
  width: 100%;
  max-width: 700px;
  margin: 25px auto 0 auto;
  @include box-sizing(border-box);
  @include respond-to(800) {
    padding: 0 $rs * 1;
  }
}

article {
  padding: 20px 0;
  border-bottom: 1px solid #f2f2f0;
  &:last-child {
    border-bottom: 0px;
  }
}

.post-title {
  letter-spacing: -0.02em;
  font-weight: 700;
  font-style: normal;
  display: block;
  font-size: 36px;
  line-height: 1.15;
  margin: 0 0;
  a {
    text-decoration: none;
    color: #333332;
    &:hover {
      text-decoration: none;
    }
  }
}

.post-excerpt {
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 1.59;
  color: #666665;
}

.post-date {
  font-family: $font-sans;
  font-size: 14px;
  color: #b3b3b1;
}

.post-template .content {
  max-width: 700px;
}

.post-footer {
  margin-top: 10px;
}

.older-links {
  margin-bottom: 30px;
}

.post-category-link {
  text-decoration: none;
  font-family: $font-sans;
  font-size: 14px;
  color: #b3b3b1;
  &::after {
    content: " | ";
  }
  &:last-child::after {
    content: "";
  }
}

.index-headline {
  border-top: 1px solid #dededc;
  margin: 0;
  padding: 16px 0;
  span {
    color: #b3b3b1;
    font-size: $rs / 8 * 5;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.pagination {
  text-align: center;
  padding: $rs * 1 0 0;
  font-size: $rs / 4 * 3;
  a {
    color: #999999;
    text-decoration: none;
    &:hover {
      color: #333333;
    }
  }
}

.site-footer {
  margin: 0 auto;
  padding: $rs * 3 0;
  width: 100%;
  max-width: 700px;
  font-size: $rs / 4 * 3;
  text-align: center;
  color: #999999;
  line-height: $rs * 1.1;
  a {
    color: #666666;
    text-decoration: none;
    &:hover {
      color: #333333;
    }
  }
}

.post-meta {
  font-family: $font-sans;
  font-size: 14px;
  color: #b3b3b1;
  line-height: 30px;
  a {
    color: #b3b3b1;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.post-title {
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.04em;
  font-size: 50px;
  line-height: 1.1;
  color: #333332;
  margin-bottom: 50px;
}

.post-content {
  width: 100%;
  font-family: $font-serif;
  color: #333333;
  h1, h2, h3 {
    font-family: $font-sans;
  }
  h3, h4, h5, h6 {
    letter-spacing: -0.02em;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 1.3;
    margin-top: 50px;
    margin-bottom: 0;
    font-family: $font-sans;
  }
  h3 {
    font-size: 36px;
  }
  h2, h1 {
    letter-spacing: -0.02em;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    line-height: 1.2;
    margin-top: 50px;
    margin-bottom: 0;
  }
  p {
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 1.59;
    letter-spacing: -.002em;
    margin-top: 30px;
    margin-bottom: 0;
    color: #333333;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  .image-caption {
    margin-top: 5px;
    font-size: 13px;
    font-family: $font-sans;
    color: $light-grey;
  }
  a {
    color: #333333;
    text-decoration: underline;
  }
  amp-img, amp-youtube {
    margin-top: 30px;
  }
  figure {
    margin: 0;
    padding: 0 0 30px;
  }
  figcaption {
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 1.3;
    color: #666665;
    outline: 0;
    z-index: 300;
    text-align: center;
  }
  hr {
    padding: 0;
    display: block;
    width: 15%;
    margin: 30px auto;
    border: 0 solid #dddddd;
    border-top: 1px solid #dddddd;
  }
  blockquote {
    margin: 0 0 30px;
    margin-left: -26px;
    border-left: 3px solid #57ad68;
    padding-left: 20px;
    p {
      letter-spacing: 0.01rem;
      font-weight: 400;
      mborder-left: 3px solid #57ad68;
      mpadding-left: 20px;
      mmargin-left: -26px;
      padding-bottom: 3px;
    }
  }
  ul, ol {
    padding: 0 0 30px;
    margin: 0;
  }
  li {
    padding: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    line-height: 30px;
    margin-left: 30px;
    margin-bottom: 12px;
    padding-top: 2px;
    p {
      padding: 0 0 golden-ratio(1rem, 1);
    }
  }
  ol li {
    list-style-type: decimal;
  }
}

.vintage-comments {
  .vintage-comments-list {
    li {
      list-style-type: none;
      p {
        margin: 0;
        padding: 0;
        font-size: 14px;
        line-height: 1.4;
        color: #333333;
      }
      .comment-meta {
        font-family: $font-sans;
      }
    }
  }
}

.pagination .disabled {
  opacity: 0;
}

sub, sup {
  font-size: 14px;
}

.image-centered {
  display: flex;
  align-items: center;
  justify-content: center
}
.image-centered__inner {
  margin: 0;
  .image-caption {
    text-align: center;
  }
}
.image-centered-wide {
  width: 500px;
  @media only screen and (max-width: 500px) {
      width: 250px;
    }
}
